<% if (val != null){ %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <%= val.title %>
            </h5>
            <p class="card-text">
                <%= val.message %>
            </p>
            <p class="card-link">投稿者:
                <%= val.User.name %>
            </p>
            <%
        var d = new Date(val.createdAt);
        var dstr = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + 
          d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + 
          ':' + d.getSeconds();
      %>
                <p>
                    <%= dstr %>
                </p>
                <% if (val.User.id == data.login.id){ %>
                    <p><a href="/boards/edit/<%= val.id %>">編集する</a></p>
                    <% } %>
                        <p>
                            <form method="post" action="/boards/like">
                                <input type="hidden" name="userId" value="<%= data.login.id %>">
                                <input type="hidden" name="boardId" value="<%= val.id %>">
                                <input type="submit" value="いいね" class="">
                            </form>
                        </p>
        </div>
    </div>
    <% } %>