<% if (val != null){ %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <%= val.title %>
            </h5>
            <p class="card-text">
                <%= val.message %>
            </p>
            <%= dstr %>
            <% if (data.login.id == data.login.id){ %>
                <p><button href="/boards/edit/<%= val.id %>">編集する</button>
                <button href="/boards/delete/<%= val.id %>">削除する</button></p>
            <% } %>
            <p>
                <form method="post" action="/boards/like">
                    <input type="hidden" name="userId" value="<%= data.login.id %>">
                    <input type="hidden" name="boardId" value="<%= val.id %>">
                    <input type="submit" value="いいね" class="">
                </form>
                <% 
                hart_color = false;
                for(let i in val.User) { 
                    if (val.User[i].id == login.id){
                        hart_color = true;
                    };
                };
                    %>
                <%if (hart_color == true) {%><p><span style="color:#FF0000" id="hearts">&hearts;</span> <%= val.User.length %></p><% } %>
                <%if (hart_color == false) {%><p><span style="color:#888888" id="hearts">&hearts;</span> <%= val.User.length %></p><% } %>
                </p>
                <%
                    var d = new Date(val.createdAt);
                    var dstr = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + 
                    d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + 
                    ':' + d.getSeconds();
                %>
            </p>
        </div>
    </div>
    <% } %>